<Header>
  <a routerLink="/home" class="logo"><img src="assets\images\new_logo.png" width="200px" height="60px"></a>
  <nav>
    <ul>
      <li routerLinkActive="active-page"><a routerLink="/home">Home</a></li>
      <li routerLinkActive="active-page"><a routerLink="/about">About</a></li>
      <li><a routerLink="/product">Shop</a>
        <ul [ngSwitch]="menuType">
          <li  *ngSwitchCase="'user'"><a routerLink="/product">Product</a></li>
          <li  *ngSwitchCase="'user'"><a routerLink="/cart">Cart</a></li>
          <li  *ngSwitchCase="'user'"><a routerLink="/my-order">My Orders</a></li>

        </ul>
      </li>
      <li routerLinkActive="active-page" [ngSwitch]="menuType">
        <a *ngSwitchCase="'default'" routerLink="/login">Login</a>
        <a *ngSwitchCase="'user'" (click)="userLogout()">Logout</a>
      </li>

    </ul>
  </nav>
</Header>
