<footer>

  <div class="box-container">

    <div class="box">
      <h3>Grozzy world </h3>
      <p>Feel Free To Follow Us On Social Media Handlers All The Links Are Given Below.</p>
      <div class="share">
        <a routerLink="#" class="fa fa-facebook"></a>
        <a routerLink="#" class="fa fa-twitter"></a>
        <a routerLink="#" class="fa fa-instagram"></a>
        <a routerLink="#" class="fa fa-linkedin"></a>

      </div>
    </div>

    <div class="box">
      <h3>Contact Info</h3>
      <a routerLink="#" class="links"><i class="fa fa-phone"></i> +91 9350093500</a>
      <a routerLink="#" class="links"><i class="fa fa-phone"></i> +91 9360093600</a>
      <a routerLink="#" class="links"><i class="fa fa-envelope"></i> grozzyadmin@gmail.com</a>
      <a routerLink="#" class="links"><i class="fa fa-map-marker"></i> TamilNadu, India</a>
    </div>

    <div class="box">
      <h3>Quick Links</h3>
      <a routerLink="/home" class="links"><i class="fa fa-arrow-right"></i> Home</a>
      <a routerLink="/about" class="links"><i class="fa fa-arrow-right"></i> About us</a>
      <!-- <a routerLink="" class="links"><i class="fa fa-arrow-right"></i> Offers</a> -->
      <a routerLink="/contact" class="links"><i class="fa fa-arrow-right"></i> Contact</a>
      <a routerLink="/product" class="links"><i class="fa fa-arrow-right"></i> Shop</a>
      <a routerLink="/login" class="links"><i class="fa fa-arrow-right"></i> Login</a>

    </div>
    <div class="box">
      <h3>Newsletter</h3>
      <p>Subsribe For Latest Updates</p>
      <form #newsForm="ngForm" (submit)="onSubmit()">
      <input type="email" placeholder="Your Email" class="email"  name="email" #mailid=ngModel [(ngModel)]="email" required="" pattern="^(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$">
      <div class="small-text" *ngIf="mailid.errors && (mailid.dirty || mailid.touched)">
        <div [hidden]="!mailid.errors['required']" style="font-size: 10px; color: red;">Please enter email id</div>
        <div [hidden]="!mailid.errors['pattern']" style="font-size: 10px; color: red;">Please enter valid email id</div>
      </div>
      <input type="submit" [disabled]="!newsForm.form.valid" value="Subscribe" class="button">
    </form>
      <img src="assets/images/payment-removebg-preview.png" width="400px">
    </div>
  </div>

</footer>
