<app-Header></app-Header>
<div class="body">
  <div class="button">
    <button routerLink="/my-order">Go Back</button>
  </div>
  <h3 style="color: rgb(25, 2, 94);">Order Summary</h3>
  <h4>Email id - {{orderData.emailId}}</h4>
  <h4>Bill amount - {{orderData.total|currency:"INR"}}</h4>
  <h4>{{orderData.date}}</h4>

  <div class="cart-table">

    <table>
      <thead>
        <tr>
          <th>product image</th>
          <th>product name</th>
          <th>quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderData.Menu_details">

          <td><img src="{{item.image}}" height="150px" width="150px"></td>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      </tbody>

    </table>
    <form #reviewForm="ngForm" (submit)="ReviewForm(orderData.id)">

      <div class="flex">
        <div class="review-message">
          <h3>Your review : <span style="color:rgb(25, 2, 94)">{{orderData.review}}</span></h3>
          <h3>Admin feedback : <span style="color:rgb(25, 2, 94)">{{orderData.feedback}}</span></h3>

        </div>
        <div class="review-container">
          <h3>Add a review</h3>
          <textarea style="width: 50%;" rows="5" cols="60" placeholder="Your Message..." name="message" #msg=ngModel
            [(ngModel)]="message"></textarea>
          <button class="cart-shop-button">Submit</button>
        </div>


      </div>
    </form>

  </div>

</div>
<app-Footer></app-Footer>
