<app-Header></app-Header>
<div class="section">
  <div class="loginbox">
    <div class="wrapper">
      <div class="login-header">Login</div>
      <form class="form" #loginForm="ngForm" (ngSubmit)="onLogin()">

        <div class="form-control">
          <input type="email" placeholder="Enter email" name="emailid" #email=ngModel [(ngModel)]="emailid" required="" pattern="^((?![0-9]+@)([a-z0-9_.-]{4,20})|('.+'))@((([a-z]+\.)+[a-z]{2,3}))$">
          <div *ngIf="email.errors && (email.dirty || email.touched)">

            <small [hidden]="!email.errors['required']">Please enter email id</small>
             <small [hidden]="!email.errors['pattern']">Please enter valid email id</small>
          </div>

        </div>

        <div class="form-control">
          <input type="password" placeholder="Enter password" name="password" #pword="ngModel" [(ngModel)]="password"
            required="" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*#?&]).{8,}$">
          <div *ngIf="pword.errors && (pword.dirty || pword.touched)">
            <div class="small-text"><small [hidden]="!pword.errors['required']">Please enter Password</small></div>
            <div class="small-text"><small  [hidden]="!pword.errors['pattern']">Atleast 1-uppercase, lowercase, number and minimum length should be 8</small></div>

          </div>

        </div>

        <input type="Submit" [disabled]="!loginForm.form.valid" value="Submit" style="

          background: linear-gradient(270deg, #ED765E 0%, #E3BDE5 100%);
          border-radius: 15px;
          color: #000;
          font-size: 1rem;
          padding: 10px;
          margin-top: 30px;
          width: 100%;
        " />
        <div class="forgot"><a routerLink="/forgot-password">Forgot Password</a></div>
         </form>
    </div>
    <div class="signup">If you are a new user <a routerLink="/register"> Register</a> Here</div>

  </div>
</div>


<app-Footer></app-Footer>
