<app-AdminHome></app-AdminHome>
<div id="main">
  <div class="top-nav">
    <div class="top-page">
      <span style="font-size:25px;cursor:pointer; color:grey;" class="nav">☰ Orders</span>
    </div>
    <div class="profile">
      <img src="assets/images/user.png" class="pro-img" />
      <p>Hemaltha<span>Admin</span></p>
    </div>
  </div>

  <div *ngFor="let orderItem of orders" class="order-detail">
    <h3>Order ID: {{ orderItem.id }}</h3>

    <div *ngFor="let user of orderItem.user">
      <h3>User Details: </h3>
      <p style="color: #dd5e89;">Email : {{ user.email }}</p>
    </div>
    <h3>Item Details:</h3>
    <div *ngFor="let item of orderItem.items" class="grid grid-three-columns">

      <p>Product ID : {{ item.id }}</p>
      <p>Name : {{ item.name }}</p>
      <p>Price : {{ item.price }}</p>
      <p>Quantity : {{ item.quantity }}</p>
      <p>Category : {{ item.category }}</p>
    </div>
  </div>
<div *ngIf="orders.length===0">
  <div class="cart-image"><img src="assets/images/empty-cart.png"></div>
<div class="order"><h3>No orders available</h3></div>
<img src="assets/images/home_fruit.png" width="1147px">
</div>
</div>
