<app-Header></app-Header>
<div class="section">

<div class="loginbox">
  <div class="wrapper">
    <div class="login-header">Forgot Password</div>
  <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
    <div class="form-group">
      <label>Email</label>

      <input type="email" formControlName="email" class="form-control" required>
      <div *ngIf="resetForm.get('email')?.invalid && (resetForm.get('email')?.dirty || resetForm.get('email')?.touched)" class="text-danger">
        <small *ngIf="resetForm.get('email')?.errors?.['required']">Email is required</small>
        <small *ngIf="resetForm.get('email')?.errors?.['email']">Invalid email format</small>
      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="alert alert-success"><p *ngFor="let name of detail">Dear {{name.uname}}! your password is <span style="color: white;">{{name.pword}}</span></p></div>

    <button type="submit" class="button">Submit</button>
  </form>
</div>
</div>
</div>
<app-Footer></app-Footer>
