<div id="mySidenav" class="sidenav">
  <p class="logo"><img src="assets\images\new_logo.png" width="200px" height="60px"></p>

  <div class="admin-nav">
    <div class="nav-detail">
      <a routerLink="/admin/dashboard"><img src="assets/images/speedometer.png"  width="40px" height="40px" class="nav-img"/><p>Dashboard</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/admin/products"><img src="assets/images/shopping-bag (1).png"  width="40px" height="40px" class="nav-img"/><p>Products</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/admin/categories"><img src="assets/images/widget.png"  width="40px" height="40px" class="nav-img"/><p>Categories</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/admin/orders"><img src="assets/images/trolley-cart.png"  width="40px" height="40px" class="nav-img"/><p>Orders</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/admin/customers"><img src="assets/images/customer.png"  width="40px" height="40px" class="nav-img"/><p>Customers</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/admin/queries"><img src="assets/images/question.png"  width="40px" height="40px" class="nav-img"/><p>Queries</p></a>
    </div>
    <div class="nav-detail">
      <a routerLink="/home" (click)="logout()"><img src="assets/images/logout.png"  width="40px" height="40px" class="nav-img"/><p>Logout</p></a>
    </div>
    </div>

</div>





